[mysqld]
innodb_buffer_pool_size = 256M
innodb_file_per_table= 1
# Set the innodb file format to Barracuda
innodb_file_format = Barracuda
# Set large prefix on
innodb_large_prefix = 1
init_connect='SET collation_connection = utf8mb4_unicode_ci'
init_connect='SET NAMES utf8mb4'
innodb_file_format_max = Barracuda
innodb_strict_mode = 1
character_set_server = 'utf8mb4'
collation_server = 'utf8mb4_unicode_ci'
innodb_log_file_size = 50G
max_allowed_packet = 1073741824